.svn
*.tar.*
*.*~
/doc/*.aux
/doc/*.bbl
/doc/*.blg
*.log
*.out
/doc/*.pdf
/doc/*.synctex*
/doc/*.toc
/build
/build-*
/devel
*.user
*.user.*
*.tar
*.tar.*
.catkin_*
*.o
*.a
*.so
*.dll
*.lib
documentation
Documentation
.idea
# Visual Studio files
.vscode
.vs
*.db
*.pdb
*.iobj
*.ipdb
*.exp
Debug
Release

